ANSWER SHEET


1. WHAT IS PYTHON AND WHY IS IT POPULAR?

ANS - PYTHON IS A COMPUTER PROGRAMMING LANGUAGE AND IT IS POPULAR BECAUSE OF EASE OF LEARNING AND WIDELY USED IN IT , DATA, AUTOMATION, AI AND ML INDUSTRIES.

2. WHAT IS AN INTERPRETER IN PYTHON?

ANS - THE PYTHOBN INTERPRETER IS A CRUCIAL COMPONENT THAT ALLOWS PYTHON CODE TO BE EXECUTED. IT TRANSLATES PYTHON HIGH LEVEL CODE INTO A FORM THAT COMPUTER PROCESSOR CAN UNDERSTAND AND EXECUTE.

3. WHAT ARE PRE DEFINED KEYWORDS IN PYTHON?

ANS- IN PYTHON PROGRAMMING LANGUAGE, THERE ARE A SET OF PRE DEFINED WORDS, CALLED KEYWORDS,WHICH IS ESSENTIAL FOR MAKING MEANINGFUL STATEMENTS.

4. CAN KEYWORDS BE USED AS VARIABLE NAMES?

ANS- NO, PYTHON KEYWORDS CAN NOT BE USED AS VARIABLE NAMES

5. WHAT IS MUTABILITY IN PYTHON?

ANS - IN PYTHON WE CAN CHANGE CONTENTS OF A LIST, PYTHON'S ABILITY TO PROCESS SUCH CODES IS KNOWN AS MUTABILITY.

6. WHY ARE LIST MUTABLE BUT TUPPLES ARE IMMUTABLE?

ANS- LISTS ARE COLLECTIONS WHICH IS DESGINED TO BE FLEXIBLE AND DYNAMIC AND ALLOW CHANGES. BUT TUPPLES ARE FIXED IN NATURE AND RESIST ANY FURTHER CHANGE.

7. WHAT IS THE DIFFERENCE BETWEEN "==" AND "IS OPERATOR"S IN PYTHON?

ANS - "==" OPERATOR IS USED TO COMPARE EQUALITY AND "IS" OPERATOR IS USED TO COMPARE WHETHER TWO VARIABLE ARE SAME OBJECT IN MEMORY OR NOT.

8. WHAT ARE LOGICAL OPERATORS ON PYTHON?

ANS- "AND" AND "OR" OPERATORS ARE LOGICAL OPERATORS IN PYTHON.

9. WHAT IS TYPE CASTING IN PYTHON?

ANS- THE PROCESS OF CHANGING THE DATA TYPE OF A VALUE/OBJECT.

10. WHAT IS THE DIFFERENCE BETWEEN IMPLICIT AND EXPLICIT TYPE CASTING?

ANS- IMPLICIT TYPE CASTING HAPPENS AUTOMATICALLY WHEN PYTHON CONVERTS ONE DATA TYPE INTO ANOTHER WITHOUT USER INTERFERANCE.BUT EXPLICIT TYPE CASTING HAPPENS USER CODE TO CHANGE ONE DATA TYPE INTO ANOTHER BY USING BUILT IN FUNCTIONS LIKE INT(),FLOAT(),STR().

11. WHAT IS THE PURPOSE OF CONDITIONAL STATEMENTS IN PYTHON?

ANS - CONDITIONAL STATEMENTS ARE USED TO EXECUTE SPECIFIC BLOCKS OF CODES ON BASIS OF TRUE OR FALSE CONDITIONS.

12. HOW DOES ELIF STATEMENT WORK?

ANS -  ELIF STATEMENT IS USED TO CHECK ADDITIONAL CONDITION IN A CHAIN OF CONDITIONAL CHECKS.

13. WHAT IS THE DIFFERENCE BETWEEN FOR AND WHILE LOOP?

ANS - FOR LOOP IS USED WHEN WE KNOW HOW MANY TIMES WE WANT TO ITERATE OVER A SEQUENCE. WHILE LOOP IS USED WHEN WE DON'T KNOW HOW MANY TIMES WE HAVE TO ITTERATE BUT WE WNT TO REPEAT A BLOCK OF CODE WHEN CERTAIN CONDITION IS TRUE.

14. DESCRIBE A SCENARIO WHERE A WHILE LOOP IS MORE SUITABLE THAN A FOR LOOP?

ANS- A WHILE LOOP IS SUITABLE OVER A FOR LOOP WHEN WE DON'T KNOW HOW MANY TIMES WE HAVE TO ITTERATE AND THE LOOP NEEDS TO CONTINUE TILL CONDITION IS CERTAIN TRUE.

PRACTICAL QUESTIONS

1. WRITE A PYTHON PROGRAM TO PRINT "HELLO WORLD"

In [3]:
print ("HELLO WORLD!!!")

HELLO WORLD!!!

2. WRITE A PYTHON PROGRAM THAT DISPLAYS YOUR NAME AND AGE.

In [4]:
name = "satyaprakash panda"
age = 27
print (name, age)

satyaprakash panda 27

3. WRITE A CODE TO PRINT ALL PRE-DEFINED KEYWORDS IN PYTHON USING KEYWORD LIBRARY.

In [10]:
print("Python Keywords:")
print(keyword.kwlist)

Python Keywords:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4. WRITE A PROGRAM THAT CHECKS IF A GIVEN WORD IS A PYTHON KEYWORD

In [28]:
a = input("enter your word - ")
b = keyword.kwlist
for i in b:
  if a == i:
    print("your word is a python keyword")

enter your word - as
your word is a python keyword

5. CREATE A LIST AND TUPPLE IN PYTHON AND DEMONSTRATE HOW ATTEMPTING TO CHANGE AN ELEMENT WORKS DIFFERENTLY FOR EACH

In [34]:
a = ["apple", "ball", "cat", "dog", "elephant", "fox", "gorilla", "horse"]
a[0] = "mango"
print(a)

['mango', 'ball', 'cat', 'dog', 'elephant', 'fox', 'gorilla', 'horse']

In [36]:
b = ("america", "britain", "canada", "denmark", "ethiopia", "france")
b[0] = "usa"
print(b)

TypeError: 'tuple' object does not support item assignment

6. WRITE A FUNCTION TO DEMONSTRATE THE BEHAVIOUR OF MUTABLE AND IMMUTABLE ARGUEMENTS

7. WRITE A FUNCTION TO DEMONSTRATE THE BEHAVIOUR OF MUTABLE AND IMMUTABLE ARGUEMENTS

In [ ]:
a = ["apple", "ball", "cat", "dog", "elephant", "fox", "gorilla", "horse"] #list is mutable
a[0] = "mango"
print(a)

In [ ]:
b = ("america", "britain", "canada", "denmark", "ethiopia", "france") #tupple is immutable
b[0] = "usa"
print(b)

8. WRITE A PROGRAM TO TO DEMONSTRATE THE USE OF LOGICAL OPERATOR

In [42]:
a = int(input("enter your number - "))
b = int(input("enter your number - "))
if a > 0 and b > 0:
  print("success")

enter your number - 10
enter your number - 12
success

9. WRITE A PYTHON PROGRAM TO CONVERT USER INPUT FROM STRING TO INTEGER, FLOAT AND BOOLEAN TYPES

In [47]:
a = input("enter your number - ")
b = int(a)
c = float(a)
d = bool(a)

print(a,type(a),b,type(b),c,type(c),d,type(d))

enter your number - 20
20 <class 'str'> 20 <class 'int'> 20.0 <class 'float'> True <class 'bool'>

10. WRITE A CODE TO DEMONSTRATE TYPE CASTING WITH LIST ELEMENTS.

In [51]:
a = [100, 200, 300, 400, 500]
a[0] = float(a[0])
print(a)

[100.0, 200, 300, 400, 500]

11. WRITE A PROGRAM THAT CHECKS IF A NUMBER IS POSITIVE,NEGATIVE OR ZERO.

In [55]:
a = int(input("enter your number - "))
if a > 0:
  print("positive")
elif a < 0:
  print("negative")
else:
  print("zero")

enter your number - 2
positive

12. WRITE A FOR LOOP TO PRINT FROM 1 TO 10

In [56]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13. WRITE A PYTHON PROGRAMME TO FIND THE SUM OF ALL EVEN NUMBERS BETWEEN 1 AND 50.

In [62]:
a = 1
b = 0
while a < 50:
  if a % 2 == 0:
    b = b + a
  else:
    a = a + 1
print(b)

KeyboardInterrupt:

14. WRITE A PROGRAM TO REVERSE A STRING USING WHILE LOOP.

15. WRITE A PYTHON PROGRAM TO CALCULATE FACTORIAL OF A NUMBER PROVIDED BY USER USING A WHILE LOOP.

In [64]:
a = int(input("enter your number - "))
b = 1
while a > 0:
  b = b * a
  a = a - 1
print(b)

enter your number - 3
6